<% 
	var insurances = languages = reviews = specialties = [];
	var acceptingNew = boardCertified = false;
	var affiliation = gender = name = rating = school = phone = email = degree = '';
	
	if (overlayRecord != null) {
		name = overlayRecord.name ? overlayRecord.name : '';
		insurances = overlayRecord.insurances ? overlayRecord.insurances : [];
		languages = overlayRecord.languages ? overlayRecord.languages : [];
		specialties = overlayRecord.specialties ? overlayRecord.specialties : [];
		reviews = overlayRecord.reviews ? overlayRecord.reviews : [];
		acceptingNew = overlayRecord.acceptingNew ? overlayRecord.acceptingNew : false;
		boardCertified = overlayRecord.boardCertified ? overlayRecord.boardCertified : false;
		affiliation = overlayRecord.affiliation ? overlayRecord.affiliation : '';
		phone = overlayRecord.phone ? overlayRecord.phone : '';
		email = overlayRecord.email ? overlayRecord.email : '';
		school = overlayRecord.school ? overlayRecord.school : '';
		rating = overlayRecord.rating ? overlayRecord.rating : '';
		gender = overlayRecord.gender ? overlayRecord.gender : '';
		degree = overlayRecord.degree ? overlayRecord.degree : '';
	}
%>
<html>
	<body>
		<form method="post" action="/test/places/doctor/save/<%=record.id%>/">
			Google Identifier Name:</br>
			<input type="text" name="record.name" value="<%=record.name%>"/>

			<p>Actual Physician Name:</br>
			<input type="text" name="physname" value="<%=name%>"/>
			</p>
			
			<p>Phone Number</br>
			<input type="text" name="phone" value="<%=phone%>"/>
			</p>

			<p>E-mail</br>
			<input type="text" name="email" value="<%=email%>"/>
			</p>

			<p>Gender:<br>
			<select name="gender">
				<option value="">-select-</option>
				<option value="male"<%=(gender == "male" ? " selected" : "")%>>Male</option>
				<option value="female"<%=(gender == "female" ? " selected" : "")%>>Female</option>
			</select>
			</p>

			<p>School</br>
			<input type="text" name="school" value="<%=school%>"/>
			</p>

			<p>Degree Type:<br>
			<select name="degree">
				<option value="">-select-</option>
				<option value="md"<%=(degree == "md" ? " selected" : "")%>>MD</option>
				<option value="do"<%=(degree == "do" ? " selected" : "")%>>DO</option>
			</select>
			</p>
			
			<p>Insurances: (one per line)<br>
			<textarea name="insurances" rows="5" cols="45"><%
			for ( var i = 0; i < insurances.length; i++) {
				%><%=insurances[i]%>
<%
			}
			%></textarea>
			</p>
			
			<p>Specialties: (one per line)<br>
			<textarea name="specialties" rows="5" cols="45"><%
			for ( var i = 0; i < specialties.length; i++) {
				%><%=specialties[i]%>
<%
			}
			%></textarea>
			</p>
			
			<p>
				<input type="checkbox" name="accepting_new"<%=(acceptingNew ? ' checked' : '')%>> Accepting New Patients<br>
				<input type="checkbox" name="board_certified"<%=(boardCertified ? ' checked' : '')%>> Board Certified<br>
			</p>
			
			<p>Languages: (one per line)<br>
			<textarea name="languages" rows="3" cols="45"><%
			for ( var i = 0; i < languages.length; i++) {
				%><%=languages[i]%>
<%
			}
			%></textarea>
			</p>
		
			<p>
			Hospital Affiliation<br>
			<input type="text" name="affiliation" value="<%=affiliation%>">
			</p>
			
			<p>Rating</br>
			<input type="text" name="rating" value="<%=rating%>"/>
			</p>

			<p>Reviews: (one per line)<br>
			<textarea name="reviews" rows="5" cols="45"><%
			for ( var i = 0; i < reviews.length; i++) {
				%><%=reviews[i]%>
<%
			}
			%></textarea>
			</p>

			<input type="submit" name="submit" value="Save">
		</form>
	</body>
</html>
